/**
 * Stylesheet for Forms Example
 *
 * @media screen, projection
 */

/**
 * CSS Clearfix
 * @see http://www.positioniseverything.net/easyclearing.html
 */
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}


/**
 * General Page stuff
 */

	body {
		font-family: verdana, arial, sans-serif;
		font-size: 12px;
		line-height: 1.48;

		background: #FFF;
		color: #000;

		padding: 10px;
	}

	h1 {
		padding-bottom: 10px;
	}


/**
 * The form
 */

	/* general form layout */
	form {
		width: 660px;
		/* margin: 0 auto 0; */
	}

	form fieldset {
		border: 1px solid #999999;
		padding: 10px 0;
		margin-bottom: 20px;
	}

	form legend {
		padding: 0 10px;

		color: #000;
		height: 24px;

		font: 700 12px/24px verdana, arial, sans-serif;
	}

	/* positioning the dl */
	form, form dl {
		width: 660px;
	}

	form dl dt {
		float: left;
		width: 150px;
		padding: 0 0 0 10px;
		height: 34px;
		line-height: 34px;
	}

	form dl dd {
		float: left;
		width: 500px;
		min-height: 34px;
		line-height: 34px;
	}

	form dl dd label {
		display: block;
		line-height: 34px;
		width: 215px;
		float: left;
		clear: left;
	}

	form dl dd input {
		padding: 1px 3px;
		width: 200px;
	}

	form dl dd label input {
		width: auto;
		padding: auto;
	}

	form dl dt.full {
		width: 660px;
	}

	form #lastrow {
		width: 640px;
		color: #000;
		text-align: right;
	}

	/* the messages */
	.message {
		font-style: italic;
		font-size: 10px;
	}

	.error {
		color: #F00;
	}
